div#important-information-page{
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 25% 40% 25%;
    justify-content: center;
    align-content: space-evenly;
}

div.important-info{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-items: center;
}

h2.information-header{
    padding-left: 20px;
    padding-right: 20px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: rgb(243, 240, 240);
}

p.info{
    border: solid green 2px;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(243, 240, 240);
}