div#home{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "intro"
                         "links";
}

div#intro{
    display: grid;
    grid-area: intro;
    align-items: baseline;
    justify-items: center;
}

div#links{
    display: grid;
    grid-area: links;
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
    grid-template-areas: "activities-transportation"
                         "booking";
}

div#activities-transportation{
    display: grid;
    grid-area: activities-transportation;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    min-height: 100%;
    min-width: 100%;
}

div#activities{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    grid-template-areas: "boat-image"
                         "activities-paragraph";
}
div#transportation{
    display: grid;
    justify-items: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}

div#booking{
    display: grid;
    grid-area: booking;
    justify-items: center;
    align-items: center;
    font-size: x-large;
}

p.welcome-message{
    border: solid green 2px;
    border-radius: 5px;
    max-width: 35%;
    background-color: rgb(243, 240, 240);
}

p.activities-presentation{
    display: grid;
    align-items: center;
    justify-self: center;
    border: solid green 2px;
    border-radius: 5px;
    max-width: 50%;
    background-color: rgb(243, 240, 240);
    padding-right: 25px;
    padding-left: 25px;
}
p.transportation{
    display: grid;
    align-items: center;
    justify-self: center;
    border: solid green 2px;
    border-radius: 5px;
    max-width: 70%;
    padding-right: 25px;
    padding-left: 25px;
    background-color: rgb(243, 240, 240);
}

img.generic-image{
    display: grid;
    justify-self: center;
    max-height: 200px;
    width: 50%;
}

h2.welcome-message{
  border: solid green 2px;
  border-radius: 5px;
  background-color: rgb(243, 240, 240);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

a#home-booking{
    border: solid green 2px;
    border-radius: 5px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(243, 240, 240);
}

a#home-booking:hover{
    cursor: pointer;
}