div#book-page{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 5% repeat(3, 20%);
    justify-content: center;
    justify-items: center;
    row-gap: 100px;
}

div.book{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "general-info hotel-image"
                         "book-place book-place";
}

div.general-info{
    display: grid;
    grid-area: general-info;
    justify-items: center;
    align-items: center;
    border: solid green 2px;
    border-radius: 5px;
    background-color: rgb(243, 240, 240);

}
div.hotel-image{
    display: grid;
    grid-area: hotel-image;
    border: solid green 2px;
    border-left: none;
    border-radius: 5px;

}
div.book-place{
    display: grid;
    grid-area: book-place;
    justify-items: center;
    align-items: center;
}

span.book-button{
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(243, 240, 240);
    border: solid green 2px;
    border-radius: 5px;
}

span.book-button:hover{
    cursor: pointer;
}

img.book-image{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

h2#choose-option{
    display: grid;
    align-self: center;
    border: solid green 2px;
    border-radius: 5px;
    background-color: rgb(243, 240, 240);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}