div#transportation-page{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "transportation-header"
                         "transportation-bookings";
    justify-content: center;
    align-content: baseline;
}

div#transportation-header{
    display: grid;
    grid-area: transportation-header;
    align-items: center;
    justify-items: center;
}

div#transportation-bookings{
    display: grid;
    grid-area: transportation-bookings;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 45%);
    justify-content:space-evenly;
    row-gap: 50px;
}

div.transport{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "transportation-image"
                         "user-info";
    row-gap: 20px;
}

div.transportation-image{
    display: grid;
    justify-items: center;
    grid-area: transportation-image;
}

form.user-info{
    display: grid;
    grid-area: user-info;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    border: solid green 2px;
    border-radius: 5px;
}

div.left-info{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(6,15%);
}
label.form-label{
    display: grid;
    justify-self: center;
}
div.right-info{
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 10% 60% 20%;
}

img.transportation-image{
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;
}

button.form-button{
    display: grid;
    align-self: self-end;
    border: solid purple 2px;
    border-radius: 5px;
}

input[type="datetime-local"]{
    display: grid;
    max-height: 80%;
    min-height: 80%;
    align-self: center;
}