div#app{
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  border: solid red 2px;
  grid-template-columns: 100%;
  grid-template-rows: 20% 65% 15%;
  grid-template-areas: "navbar"
                       "views"
                       "footer";
}

nav#navbar{
  display: grid;
  grid-area: navbar;
  border: solid navy 2px;
}

div#views{
  display: grid;
  grid-area: views;
  border: solid green 2px;
}

footer#footer{
  display: grid;
  grid-area: footer;
  border: solid black 2px;
}
