div#app{
  display: grid;
  color: navy;
  min-height: 220vh;
  min-width: 98vw;
  border: solid red 2px;
  grid-template-columns: 100%;
  grid-template-rows: 8% 84% 8%;
  grid-template-areas: "navbar"
                       "views"
                       "footer";
}

nav#navbar{
  display: grid;
  grid-area: navbar;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  border: solid navy 2px;
}

div#views{
  display: grid;
  grid-area: views;
  border: solid green 2px;
}

footer#footer{
  display: grid;
  grid-area: footer;
  border: solid black 2px;
}
